body {
    background-color: rgb(61, 57, 57);
    margin: 0;
}

header {

    background-color: #a67b6a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

.Titulo {
    color:  white;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.logo img {
    width: 50px;
}

.barra {
    margin-left: auto;
    margin: 0;
}

nav ul {
    list-style: none; 
    display: flex; 
   
}

nav li {
    margin-right: 15px; 
}

nav a {
    text-decoration: none; 
    color: white; 
}

#botonCotizacion{
    background-color: #0ebb36;
    width: 120px;
    border: #000000;
    color: white;
}

.imagenCotizacion{
    width: 800px;
    height: 160px;
    padding: 10px;
    align-items: flex-end;
    margin-left: 180px;
}

.solicitarCotizacion {
    border: whitesmoke;
    display: flex;

    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    background-color:#c59886 ;
    align-items: center;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#a78c82; 
}

.tituloCatalogo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
}
.fila {
    display: flex;
}

.item {
    width: (33.33% - 20px); /* Para que haya 3 fotos en una fila */
    margin: 10px;
    background-color:#c59886;
    padding: 20px;
    text-align: center;
    margin-left: 120px;

}

.item img {
    width: 100%;
    height: auto;
}






