body {
    background-color: rgb(61, 57, 57);
    margin: 0;
}

header {

    background-color: #a67b6a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Titulo {
    color: #ffffff;
    justify-content: center ;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: #75625b;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-right: 10px;
}

nav a {
    font-weight: 500;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);   
}

nav a:hover{
    color: #000000;
}

.fondo{
    width: 1350px;
    height: 500px;
    background-image: url(./imgs/c4db724a-0976-4b76-a010-964f61acb82e\ \(1\).jpg);
}


#botonCotizacion{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 250px;
    left: 500px;
    color: black;
    background-color:#a67b6a ;
    width: 120px;
    height: 80px;
    border:(15px, solid, #f59393)  
}

    .solicitarCotizacion {
    border: whitesmoke;
    display: inline;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    background-color:#c59886 ;
    align-items: center;

}

.leyenda{
    font-size: 50px;
    position: relative;
    top: 40px;
    left: 200px;
}

.catalogo {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-between;
    background-color:#a78c82; 
}

.tituloCatalogo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
}

.carousel slide{
    width: 1350px;
    height: 500px;
}

.fila {
    display: flex;
}

.item {
    width: (33.33% - 20px); /* Para que haya 3 fotos en una fila */
    margin: 10px;
    background-color:#c59886;
    padding: 20px;
    text-align: center;
    margin-left: 120px;

}

.item img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #414141;
    color: #000000;
    text-align: center;
    height: 120px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 2px solid #f59393;
}

.sobreNosotros{
    border: whitesmoke;
    display: flex;
    padding: 20px;
    background-color:#c59886 ;
    align-items: center;
}

.tituloSobreNosotros{
    text-align: center; 
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
    color: rgb(51, 49, 49);

}
.imagenYTextoSobreNosotros{
    display: flex;
    align-content: center;
}

.imagenSobreNosotros{
    width: 300px;
    height: auto;
 }
.textoSobreNosotros{
    padding: 30px; 
    margin-left: 20px; 
    color: black;
    background-color: whitesmoke;
    font-size: 16px;
}

/* .formularioYImagenContactos{
    display: flex;
     align-content: center; 
    padding: 20px;
    align-items: center;
    border: whitesmoke;
    background-color:#c59886 ;
} */
.formilarioYImagenContactos{
    border: whitesmoke;
    display: flex;
    /* align-content: center; */
    padding: 60px;
    align-items:center;
    border: whitesmoke;
    background-color:#c59886 ;
}

.formulario{

    width: 700px;
    height: 450px;
    background-color:rgb(243, 221, 188);
    border: 1px solid black;
    margin-left: 40px;

}
.formulario > h3 {
    display: flex;
    align-items: center;
    align-content: center;
}

.itemForm{
    margin: 20px;
}

#comentario{
    width: 600px;
    height: 120px;
    margin-left: 50px;
}



.imagenContactos{
    width: 400px;
    height: 600px;
    margin-left: 50px;
    background-color: black;
    
}


